@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto+Slab:400,700');

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

header{
	display: flex;
	padding-left: 20px;
	min-width: 100vw;
	padding-bottom: 5px;
	background-color: white;
	position: sticky;
	top: 0;
}

#navbar{
	display: flex;
	align-content: space-around;
	min-width: 75vw;
	padding-left: 20px;
}

.nav-link{
	display: flex;
	font-size: 1.3em;
	padding-left: 20px;
	margin: auto 0;
	text-decoration: none !important;
	color: #8a8a8a;
}

.nav-link:hover{
	color: black;
}

@media(max-width: 600px){
		#navbar{
		display: flex;
		flex-direction: column;
		align-content: space-around;
		min-width: 75vw;
		padding-left: 20px;
	}
