@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto+Slab:400,700');

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

header{
	display: flex;
	padding-left: 20px;
	min-width: 100vw;
	padding-bottom: 5px;
	background-color: white;
	position: sticky;
	top: 0;
}

#navbar{
	display: flex;
	align-content: space-around;
	min-width: 75vw;
	padding-left: 20px;
}

.nav-link{
	display: flex;
	font-size: 1.3em;
	padding-left: 20px;
	margin: auto 0;
	text-decoration: none !important;
	color: #8a8a8a;
}

.nav-link:hover{
	color: black;
}

@media(max-width: 600px){
		#navbar{
		display: flex;
		flex-direction: column;
		align-content: space-around;
		min-width: 75vw;
		padding-left: 20px;
	}

	.nav-link{
		display: flex;
		font-size: 1.3em;
		padding-left: 20px;
		margin: auto 0;
		text-decoration: none !important;
		color: #8a8a8a;
	}

	.nav-link:hover{
		color: black;
	}
}

#welcome-section{
	height: 100vh;
	width: 100vw;
	background-image: url(https://images.unsplash.com/photo-1515585681953-b809c1e1f97a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4828ae2a5f3278fcd0495cd6ffbbf216&auto=format&fit=crop&w=1500&q=80);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-position: fixed;
	display: flex;
	flex-direction: column;
}

.welcome-content{
	display: flex;
	flex-direction: column;
	color: white;
	margin: auto auto;
	text-shadow: 1px 1px #000000;
}

h1{
	font-size: 4em;
	font-weight: 700;
	margin-bottom: 0;
}
